.Btn {
  margin: 1% 1%;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: x-large;
  width: 23%;
}

.xLong {
  width: 48%;
}

.money:hover {
  opacity: 50%;
}

.op {
  background-color: #deedf0;
}
.num {
  background-color: #fff5eb;
}

.op:hover,
.num:hover {
  background-color: #b2b8a3;
}
