.Btn {
  margin: 1% 1%;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 600;
  font-size: x-large;
  text-align: center;
  width: 23%;
  height: 20%;
}

.xLong {
  width: 48%;
}

.moneys {
  border-radius: 5px;
  width: 80%;
  height: 25%;
  text-align: center;
  background-color: #6c7062;
  color: white;
}

.money:hover,
.moneys:hover {
  opacity: 50%;
}

.op {
  background-color: #deedf0;
}
.num {
  background-color: #fff5eb;
}

.op:hover,
.num:hover {
  background-color: #b2b8a3;
}
