.calculatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0;
  border: 2px solid black;
  border-radius: 20px;
  width: 30vw;
  height: 80vh;

  .resultScreen {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1%;
    border: 1px solid red;
    border-radius: 20px;
    width: 80%;
    height: 15%;
  }

  .calButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 75%;

    .Btn {
      margin: 1% 1%;
      border: 1px solid blue;
      border-radius: 10px;
    }

    .Btn:hover {
      border: 2px solid black;
    }

    .sm {
      width: 21%;
    }
    .xLong {
      width: 44%;
    }
  }
}
