.calculatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: (0px 0px 20px #fff5eb);
  width: 30vw;
  height: 80vh;

  .resultScreen {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 7% 1%;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #fff5eb;
    width: 80%;
    font-size: larger;
    text-align: center;
    font-weight: 600;

    .won {
      padding-left: 1%;
      font-weight: 400;
    }
  }

  .isError {
    color: red;
  }

  .calButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 75%;

    .empty {
      margin: 1% 1%;
      border: 1px solid transparent;
      border-radius: 10px;
      width: 23%;
    }
  }
}
